<div class="conatiner-fuild">
    <div class="col-md-12" style="padding:10px; text-align: center; background-color: #eeeeee; margin-bottom: 1%;">
        <h2>Student Dashboard</h2>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" style="display:flex">
            <div class="col-md-4" style="background-color:#eeeeee">
                <router-outlet></router-outlet>
            </div>
            <div class="col-md-8" style="border:1px solid #eeeeee">
                <app-stud-list></app-stud-list>
            </div>
        </div>
    </div>
</div>
